.Cart-Header {
  margin: 0;
  padding: 14px;
}
.horizontal-line {
  border-bottom: 2px solid rgba(128, 128, 128, 0.459);
  margin: 0 20px 0 20px;
}

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}
.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}
.cart-items img {
  width: 5rem;
}
.cart-items li {
  display: flex;
}
.cart-items li div {
  padding: 0.5rem;
}
.cart-items li div:last-child {
  /* flex: 1; */
}
.right {
  text-align: right;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}
.total > div,
.total > button {
  flex: 1;
}
form {
  width: 100%;
}

/*form*/
.checkout-header {
  width: 100%;
  margin: 2rem 14rem;
  font-size: larger;
}

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.form-container li {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}
